{% extends 'frontend/base.html' %}
{% load i18n static %}

{% block extra_css %}

{% endblock %}
{% block content %}

<div class="prd-breadcrumb">
    <div class="brd-shape">
        <div class="brd-img brd-img-1" data-aos="fade-right" data-aos-delay="200" data-aos-duration="500" data-aos-easing="ease-in">
            <img src="{% static 'img/breadcrumb/brd-img-1.png' %}" alt="">
        </div>
        <div class="brd-img brd-img-2" data-aos="fade-left" data-aos-delay="200" data-aos-duration="500" data-aos-easing="ease-in">
            <img src="{% static 'img/breadcrumb/brd-img-2.png' %}" alt="">
        </div>
    </div>
    <div class="container">
        <div class="brd-content">
            <div data-aos="fade-up" data-aos-delay="200" data-aos-duration="500" data-aos-easing="ease-in">
                <span class="sub-title">blog posts</span>
            </div>    
            <h2 class="title" data-aos="fade-up" data-aos-delay="350" data-aos-duration="500" data-aos-easing="ease-in">Get Betting News & Bet Winner Stories</h2>
            <div class="page-direction">
                <ul>
                    <li>
                        <span class="icon"><i class="fa-solid fa-house"></i></span>
                        <span class="text">Home</span>
                    </li>
                    <li>
                        <span class="icon"><i class="fa-light fa-caret-right fa-xl"></i></span>
                        <span class="text">blog posts</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="blog-posts">
    <div class="global-shape style-3">
        <img src="{% static 'img/shapes/shape-1.png '%}" alt="" data-aos="fade-left" data-aos-duration="500" data-aos-offset="200" data-aos-easing="ease-in" data-aos-delay="400">
    </div>
    <div class="container">
        <div class="row g-4">
            <div class="col-xl-8 col-lg-12">
                <div class="row g-4">
                    {% for post in posts %}
                    <div class="col-xl-12 col-lg-12 col-md-6" data-aos="fade-up" data-aos-delay="100" data-aos-duration="500" data-aos-easing="ease-in">
                        <div class="single-blog">
                            <div class="part-img">
                                {% if post.image %}
                                    <img src="{{ post.image.url }}" alt="{{ post.title }}">
                                {% else %}
                                    <img src="{% static 'img/blog/blog-post-1.jpg' %}" alt="">
                                {% endif %}
                            </div>
                            <div class="part-text">
                                <span class="post-category">euro jackpot</span>
                                <h3 class="blog-post-title">
                                    <a href='blog-details.html'> Even more and setted see.</a>
                                </h3>
                                <p>In it in more its bad got what's the based they world the on small where them. Had the equally were so a in sign it like into the kind the found been themselves go.</p>
                                <div class="post-info-stats">
                                    <a href="#0" class="post-creator">
                                        <div class="creator-pic">
                                            <img src="{% static 'img/blog/user-1.jpg '%}" alt="">
                                        </div>
                                        <span class="creator-name">Sierra Guzman</span>
                                    </a>
                                    <span class="posting-time">3 days ago</span>
                                </div>
                            </div>
                        </div>
                    </div> 
                    {% empty %}
                        <div class="col-xl-12 col-lg-12 col-md-6">
                            <p>No posts available.</p>
                        </div>
                    {% endfor %} 
                </div>
            </div>
            <div class="col-xl-4 col-lg-12">
                <div class="row g-4">
                    {% for recent_post in recent_posts|slice:":2" %}
                    <div class="col-xl-12 col-lg-12 col-md-6" data-aos="fade-up" data-aos-delay="100" data-aos-duration="500" data-aos-easing="ease-in">
                        <div class="single-blog vertical-style">
                            <div class="part-img">
                                {% if recent_post.image %}
                                    <img src="{{ recent_post.image.url }}" alt="{{ recent_post.title }}">
                                {% else %}
                                    <img src="{% static 'img/blog/blog-post-2.jpg' %}" alt="">
                                {% endif %}
                            </div>
                             <div class="part-text">
                                {% if recent_post.categories.all %}
                                    <span class="post-category">{{ recent_post.categories.first.name }}</span>
                                {% else %}
                                    <span class="post-category">Uncategorized</span>
                                {% endif %}
                                <h3 class="blog-post-title">
                                    <a href="{% url 'post_detail' slug=recent_post.slug %}">{{ recent_post.title }}</a>
                                </h3>
                                <p>{{ recent_post.content|safe|truncatewords_html:30 }}</p>
                                <div class="post-info-stats">
                                    <a href="#0" class="post-creator">
                                        <div class="creator-pic">
                                            <img src="{% static 'img/blog/user-2.jpg' %}" alt="">
                                        </div>
                                        <span class="creator-name">{{ recent_post.author.get_full_name|default:recent_post.author.username }}</span>
                                    </a>
                                    <span class="posting-time">{{ recent_post.pub_date|timesince }} ago</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="pok-pagination" data-aos="fade-up" data-aos-delay="100" data-aos-duration="500" data-aos-easing="ease-in">
            <ul>
                <li>
                    <a href="#0"><i class="fa-solid fa-angles-left"></i></a>
                </li>
                <li>
                    <a href="#0">01</a>
                </li>
                <li>
                    <a href="#0" class="active">02</a>
                </li>
                <li>
                    <a href="#0">03</a>
                </li>
                <li class="dotted">
                    <i class="fa-solid fa-ellipsis"></i>
                </li>
                <li>
                    <a href="#0">15</a>
                </li>
                <li>
                    <a href="#0">16</a>
                </li>
                <li>
                    <a href="#0"><i class="fa-solid fa-angles-right"></i></a>
                </li>
            </ul>
        </div>
        <div class="pok-sidebar" data-aos="fade-up" data-aos-delay="150" data-aos-duration="500" data-aos-easing="ease-in">
            <div class="row">
                <div class="col-xl-4 col-lg-12" data-aos="fade-up" data-aos-delay="250" data-aos-duration="500" data-aos-easing="ease-in">
                    <div class="single-element recent-postss">
                        <h4 class="title">Recent posted</h4>
                        <div class="recent-post-slider owl-carousel owl-theme">
                            <div class="recent-posts">
                                <div class="single-recent-post">
                                    <div class="part-img">
                                        <img src="{% static 'img/blog/recent-post-1.jpg' %}" alt="">
                                    </div>
                                    <div class="part-text">
                                        <h5 class="post-title">
                                            <a href='blog-details.html'>Even more and setted see.</a>
                                        </h5>
                                        <div class="post-stats">
                                            <span class="text">
                                                by 
                                                <a class="posted-by" href="#">Sierra Guzman</a>
                                            </span>
                                            <span class="text">
                                                in 
                                                <a class="category-by" href="#">MegaMillions</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-recent-post">
                                    <div class="part-img">
                                        <img src="{% static 'img/blog/recent-post-2.jpg' %}" alt="">
                                    </div>
                                    <div class="part-text">
                                        <h5 class="post-title">
                                            <a href='blog-details.html'>Began a need detailed free.</a>
                                        </h5>
                                        <div class="post-stats">
                                            <span class="text">
                                                by 
                                                <a class="posted-by" href="#">Peter Bowen</a>
                                            </span>
                                            <span class="text">
                                                in 
                                                <a class="category-by" href="#">Euro Jackpot</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="recent-posts">
                                <div class="single-recent-post">
                                    <div class="part-img">
                                        <img src="{% static 'img/blog/recent-post-1.jpg' %}" alt="">
                                    </div>
                                    <div class="part-text">
                                        <h5 class="post-title">
                                            <a href='blog-details.html'>Even more and setted see.</a>
                                        </h5>
                                        <div class="post-stats">
                                            <span class="text">
                                                by 
                                                <a class="posted-by" href="#">Sierra Guzman</a>
                                            </span>
                                            <span class="text">
                                                in 
                                                <a class="category-by" href="#">MegaMillions</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-recent-post">
                                    <div class="part-img">
                                        <img src="{% static 'img/blog/recent-post-2.jpg' %}" alt="">
                                    </div>
                                    <div class="part-text">
                                        <h5 class="post-title">
                                            <a href='blog-details.html'>Began a need detailed free.</a>
                                        </h5>
                                        <div class="post-stats">
                                            <span class="text">
                                                by 
                                                <a class="posted-by" href="#">Peter Bowen</a>
                                            </span>
                                            <span class="text">
                                                in 
                                                <a class="category-by" href="#">Euro Jackpot</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="recent-posts">
                                <div class="single-recent-post">
                                    <div class="part-img">
                                        <img src="{% static 'img/blog/recent-post-1.jpg' %}" alt="">
                                    </div>
                                    <div class="part-text">
                                        <h5 class="post-title">
                                            <a href='blog-details.html'>Even more and setted see.</a>
                                        </h5>
                                        <div class="post-stats">
                                            <span class="text">
                                                by 
                                                <a class="posted-by" href="#">Sierra Guzman</a>
                                            </span>
                                            <span class="text">
                                                in 
                                                <a class="category-by" href="#">MegaMillions</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-recent-post">
                                    <div class="part-img">
                                        <img src="{% static 'img/blog/recent-post-2.jpg' %}" alt="">
                                    </div>
                                    <div class="part-text">
                                        <h5 class="post-title">
                                            <a href='blog-details.html'>Began a need detailed free.</a>
                                        </h5>
                                        <div class="post-stats">
                                            <span class="text">
                                                by 
                                                <a class="posted-by" href="#">Peter Bowen</a>
                                            </span>
                                            <span class="text">
                                                in 
                                                <a class="category-by" href="#">Euro Jackpot</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-12">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6" data-aos="fade-up" data-aos-delay="300" data-aos-duration="500" data-aos-easing="ease-in">
                            <div class="single-element posts-category">
                                <h4 class="title">posts category</h4>
                                <ul class="category-list">
                                    <li>
                                        <a href="#0">
                                            <span class="cl-cat">Super enalotto</span>
                                            <span class="q-numb">(02)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#0">
                                            <span class="cl-cat">us powerball</span>
                                            <span class="q-numb">(23)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#0">
                                            <span class="cl-cat">euro Millions</span>
                                            <span class="q-numb">(16)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#0">
                                            <span class="cl-cat">Premier Bet</span>
                                            <span class="q-numb">(24)</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6" data-aos="fade-up" data-aos-delay="350" data-aos-duration="500" data-aos-easing="ease-in">
                            <div class="single-element tag-lines">
                                <h4 class="title">posts Tagline</h4>
                                <div class="tag-words">
                                    <a href="#0" class="single-tag">bets</a>
                                    <a href="#0" class="single-tag">betting</a>
                                    <a href="#0" class="single-tag">sportsbets</a>
                                    <a href="#0" class="single-tag">gambling </a>
                                    <a href="#0" class="single-tag">bettingodds</a>
                                    <a href="#0" class="single-tag">nba </a>
                                    <a href="#0" class="single-tag">bettingonline </a>
                                    <a href="#0" class="single-tag">odds</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="search-bar-element" data-aos="fade-up" data-aos-delay="400" data-aos-duration="500" data-aos-easing="ease-in">
                        <form>
                            <input type="text" placeholder="Search a Blog....">
                            <button type="submit"><i class="fa-light fa-magnifying-glass"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
     
{% endblock %}