{% load static i18n %}
  <!-- footer begin -->
<div class="footer">
    <div class="global-shape style-4">
        <img src="{% static 'assets/img/shapes/shape-1.pn' %}" alt="" data-aos="fade-left" data-aos-duration="500" data-aos-offset="200" data-aos-easing="ease-in" data-aos-delay="500">
    </div>
    <div class="footer-top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-6 col-md-8 col-sm-9">
                    <div class="part-about">
                        <div class="footer-logo" data-aos="fade-up" data-aos-delay="100" data-aos-duration="500" data-aos-easing="ease-in">
                             <a class='sq-logo' href=''>
                                S<span class="gold-q">Q</span>-analysis<span class="gold-q">.</span>
                            </a>
                        </div>
                        <p data-aos="fade-up" data-aos-delay="150" data-aos-duration="500" data-aos-easing="ease-in">Discover the forefront of tech—Python-powered analytics, Django-driven apps, immersive visualizations, and ethical data practices. Dive into the trends shaping our data-driven future!</p>
                        <!-- <ul class="importants-links">
                            <li class="single-link" data-aos="fade-up" data-aos-delay="200" data-aos-duration="500" data-aos-easing="ease-in">
                                <a href="#0">policy</a>
                            </li>
                            <li class="single-link" data-aos="fade-up" data-aos-delay="250" data-aos-duration="500" data-aos-easing="ease-in">
                                <a href="#0">Terms</a>
                            </li>
                            <li class="single-link" data-aos="fade-up" data-aos-delay="300" data-aos-duration="500" data-aos-easing="ease-in">
                                <a href="#0">license</a>
                            </li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom-content">
                <p class="copyright-text">Copyright © 2025. All Right Reserved By sq-analysis</p>
                <ul class="social-link">
                    <!-- <li class="single-social">
                        <a href="#0">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="single-social">
                        <a href="#0">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </li>
                    <li class="single-social">
                        <a href="#0">
                            <i class="fa-brands fa-pinterest-p"></i>
                        </a>
                    </li> -->
                </ul>
                <div class="footer-menu">
                    <!-- <ul>
                        <li>
                            <a class='single-menu' href='index.html'>homepage</a>
                        </li>
                        <li>
                            <a class='single-menu' href='about.html'>About Us</a>
                        </li>
                        <li>
                            <a href="lotteries.html" class="single-menu">Lotteries</a>
                        </li>
                        <li>
                            <a class='single-menu' href='blog-posts.html'>Blog</a>
                        </li>
                        <li>
                            <a class='single-menu' href='contact.html'>contact</a>
                        </li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer end -->
